.vscode/**
.github/**
node_modules/**
src/**
tools/**
out/**/*.map
tsconfig.json
.gitignore
.vscodeignore
**/*.ts
*.vsix
icons-preview.html
blazor-preview.html
!out/**/*.js
!out/**/*.json
!icons/**
!icon-theme.json
!icon.png
!LICENSE
!THIRD-PARTY-NOTICES.md
!CHANGELOG.md
